@using Umbraco.Web.Models;
@using Umbraco.Api03.Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<NavigationList>>
<!-- Page Header-->
<header class="section page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-wide" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <a class="brand" href="Home"><img class="brand-logo-dark" src="~/images/logo-default-261x72.png" alt="" width="261" height="72" srcset="~/images/logo-default-261x72.png 2x" /><img class="brand-logo-light" src="~/images/logo-inverse-133x45.png" alt="" width="133" height="45" srcset="~/images/logo-inverse-266x90.png 2x" /></a>
                        </div>
                    </div>
                    <!-- RD Navbar Nav-->
                    @*
                        <li class="rd-nav-item active">
                            <a class="rd-nav-link" href="Home">Home</a>
                        </li>
                        <li class="rd-nav-item">
                            <a class="rd-nav-link" href="About">About</a>
                        </li>
                        <li class="rd-nav-item">
                            <a class="rd-nav-link" href="Typography">Typography</a>
                        </li>
                        <li class="rd-nav-item">
                            <a class="rd-nav-link" href="Contact">Contacts</a>
                        </li>
                    *@
                    @RenderSubItem(Model)
                </div>
            </div>
        </nav>
    </div>
</header>

@helper RenderSubItem(List<NavigationList> listItems)
{
    if (listItems != null)
    {
        <div class="rd-navbar-nav-wrap">
            <ul class="rd-navbar-nav">

                @foreach (var item in listItems)
                {
                    <li class="rd-nav-item active">
                        <a class="rd-nav-link" href="@item.Link.Url" target="@item.Link.Target">@item.Link.Text</a>
                    </li>
                    if (item.HasSubNavigation)
                    {
                        <li>
                            @RenderSubItem(item.NavItems)
                        </li>
                    }
                }
            </ul>
        </div>
    }
}
