@inherits UmbracoViewPage

<section class="section section-xl-custom image-section section-lined">
    <div class="container container-lined">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-6">
                <h3>@Umbraco.Field("title")</h3>
                <div class="big big-custom">@Umbraco.Field("subTitle")</div>
                <p>@Umbraco.Field("projectTitleDescription")</p>
                <div class="button-wrap-2"><a class="button button-default" href="@Umbraco.Field("titleButtonLink")">@Umbraco.Field("hyperLinkText")</a></div>
            </div>
        </div>
    </div>
    <div class="image-container">
        <div class="mock-up-1">
            <div class="object object-1">
                <img class="wow fadeInRight" src="@Umbraco.Field("image1")"  alt="image-custom-1-395x243.jpg" width="395" height="243" />
            </div>
            <div class="object object-2">
                <img class="wow fadeInRight" src="@Umbraco.Field("image2")" alt="image-custom-2-384x189.jpg" width="384" height="189" data-wow-delay="0.2s"/>
            </div>
            <div class="object object-3">
                <img class="wow fadeInRight" src="@Umbraco.Field("image3")" alt="image-custom-3-395x243.jpg" width="395" height="243" data-wow-delay="0.4s"/>
            </div>
            <div class="object object-4">
                <img class="wow fadeInRight" src="@Umbraco.Field("image4")" alt="image-custom-4-209x184.jpg" width="209" height="184" data-wow-delay="0.6s"/>
            </div>
            <div class="object object-5">
                <img class="wow fadeInRight" src="@Umbraco.Field("image5")" alt="image-custom-5-395x243.jpg" width="395" height="243" data-wow-delay="0.2s"/>
            </div>
            <div class="object object-6">
                <img class="wow fadeInRight" src="@Umbraco.Field("image6")" alt="image-custom-6-275x184.jpg" width="275" height="184" data-wow-delay="0.4s"/>
            </div>
        </div>
    </div>
</section>

